*{
    padding: 1%;
    margin: 12px;
}


#box{
    width: 500px;
    height: 500px;
    background-color: transparent;
    border-radius: 25px;
    margin-bottom: 10px;
    
    box-shadow: black 0px 0px 10px;

}
#box1{
    width: 500px;
    height: 500px;
    border-radius: 25px;
   
    background-color: transparent;
    margin-bottom: 10px;

    box-shadow: black 0px 0px 10px;

}
/* just a comit */